<div class='container'>
    {{#if isAuthenticated}}
        <!-- Header Section -->
        <form action='/admin-logout' method='POST'>
            <div class='header'>
                <h1>Admin Panel</h1>
                <button type='submit' class='logout-btn'>Logout</button>
            </div>
        </form>

        <!-- Messages Section (only visible if authenticated) -->
        <section class='section'>
            <h2>Messages</h2>
            <p>Here are the latest messages submitted through the contact form:</p>

            <!-- Message List -->
            {{#each contacts}}
                <div class='message-list'>
                    <div class='message-item'>
                        <h3>{{name}}</h3>
                        <p><strong>Email:</strong> {{email}}</p>
                        <p><strong>Message:</strong> "{{message}}"</p>
                        <p><strong>Sent on:</strong> {{date}}</p>
                        <a href='/form/{{id}}/delete' class='btn btn-delete'>Delete</a>
                    </div>
                </div>
            {{else}}
                <div class='no-posts'>
                    <p class='no-offer'>There are no new messages...</p>
                </div>
            {{/each}}
        </section>

    {{else}}
        <!-- Header Section -->
        {{! <div class='header'>
            <h1>Admin Panel</h1>
        </div> }}

        <!-- Admin Login Section -->
        <section class='section'>
            <h2>Admin Login</h2>
            {{#if error}}
                <p class='error'>{{error}}</p>
            {{/if}}
            <form method='POST' class='admin-login-form'>
                <label for='email'>Email:</label>
                <input type='email' id='email' name='email' required />

                <label for='password'>Password:</label>
                <input type='password' id='password' name='password' required />

                <button type='submit' class='btn'>Login</button>
            </form>

        </section>
    {{/if}}
</div>